/* Dashboard styles */
.dashboard-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.dashboard-button {
  background: #6e45e2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s;
  margin-left: 10px;
}

.dashboard-button:hover {
  background: #573ab6;
}

.delete-button {
  background-color: red;
}

.dashboard-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.dashboard-table th,
.dashboard-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.add-component-container {
  margin-top: 20px;
}

.add-component-container input {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.overlay-content h2 {
  margin-bottom: 20px;
}
.overlay-content form div {
  margin-bottom: 15px;
}

.overlay-content input {
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.overlay-content label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.admin-section {
  margin-top: 20px;
  text-align: left;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.admin-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.admin-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.admin-table td {
  text-align: center; /* Align the text to the center of each cell */
}
